.hidden {
  display: none;
}

.highlight {
  background-color: #eee;
  font-size: 1.2em;
  margin: 0 0 30px 0;
  padding: 0.2em 1.5em;
}

.warning {
  color: red;
  font-weight: 400;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  word-break: break-word;
}

video {
  background: #222;
  margin: 0 0 20px 0;
  --width: 100%;
  width: --width;
  height: calc(--width * 0.75);
}

main {
  position: relative;
}

#myCanvas {
  position: absolute;
}

#result {
  font-weight: bold;
  font-size: 20px;
  padding: 16px 0 0 0;
  text-align: center;
  width: 100%;
  height: 40px;
  background: white;
}